<div >
    <h2 class="text-center">Add Flight</h2>
  <form>
    <div >
      <label for="flightName">Flight Name:</label>
      <input type="text" [(ngModel)]="flight.model.flightName" placeholder="Flight Name" name="flightName" class="form-control" id="flightName">
    </div>
  
    <div >
      <label for="seatingCapacity">Seating Capacity:</label>
      <input [(ngModel)]="flight.model.seatingCapacity" placeholder="Seating Capacity" name="seatingCapacity" class="form-control" id="seatingCapacity">
    </div>
  
    <div >
      <label for="reservationCapacity">Reservation Capacity:</label>
     <input [(ngModel)]="flight.model.reservationCapacity" placeholder="Res Capacity" name="reservationCapacity" class="form-control" id="reservationCapacity">
    </div>
  
    <button (click)="createFlight()">Create</button>
  </form>
  </div>