<div>

  <div>
    <h1>FRS Admin</h1>
    <br/>
    <button mat-button [matMenuTriggerFor]="menu"><h2>Show All Flights</h2></button>
    <mat-menu #menu="matMenu">
       <button mat-menu-item routerLink="/admin-add-flight-schedule">Add Flight Schedule</button>
       <button mat-menu-item routerLink="/admin-add-route">Add Route</button>
       <button mat-menu-item routerLink="/show-all-flights-admin">Show All Flights</button>
       <button mat-menu-item routerLink="/admin-find-user">Find User</button>
       <button mat-menu-item routerLink="/admin-find-passenger">Find Passenger</button>
    </mat-menu>
 </div>

  <table cellspacing="20">
    <thead>
      <th>Flight ID</th>
      <th>Flight name</th>
      <th>Seating Capacity</th>
      <th>Reservation Capacity</th>
      <th>Schedule Day</th>
      <th>Depart</th>
      <th>Arrive</th>
      <th>Distance (miles)</th>
      <th>Duration (hours)</th>

    </thead>
    <tr *ngFor="let flight of flights">
        <td>{{ flight[0]}}</td>
        <td> {{ flight[1] }} </td>
        <td>{{ flight[2]}}</td>
        <td>{{ flight[3]}}</td>
        <td>{{ flight[4]}}</td>
        <td>{{flight[5]}}</td>
        <td>{{flight[6]}}</td>
        <td>{{flight[7]}}</td>
        <td>{{flight[8]}}</td>
        <td><button (click)="deleteFlight(flight[0])">Edit</button></td>
        <td><button>Delete</button></td>

    </tr>
  </table>


</div>








<!-- <div>

  <table cellspacing="20">
    <thead>
      <th>Flight ID</th>
      <th>Flight name</th>
      <th>Seating Capacity</th>
      <th>Reservation Capacity</th>
      <th>Schedule Day</th>
      <th>Depart</th>
      <th>Arrive</th>
      <th>Distance (miles)</th>
      <th>Duration (hours)</th>

    </thead>
    <tr *ngFor="let flight of flights">
        <td>{{ flight[0]}}</td>
        <td> {{ flight[1] }} </td>
        <td>{{ flight[2]}}</td>
        <td>{{ flight[3]}}</td>
        <td>{{ flight[4]}}</td>
        <td>{{flight[5]}}</td>
        <td>{{flight[6]}}</td>
        <td>{{flight[7]}}</td>
        <td>{{flight[8]}}</td>
        <td><button (click)="deleteFlight(flight[0])">Edit</button></td>
        <td><button>Delete</button></td>

    </tr>
  </table>


</div> -->
