
<div>
<table cellspacing="40">
    <thead>
        <tr>
            <th >Flight Name</th>
            <th>Total Seats</th>
            <th>Seats Left</th>
            <th>Schedule Day</th>
            <th>Depart</th>
            <th>Arrive</th>
            <th>Distance (miles)</th>
            <th>Duration</th>
          </tr>
  </thead>
    <tbody>
    <tr >
        <td>{{ flight.flightName}} </td>
        <td>{{ flight.seatingCapacity }}</td>
        <td>{{ flight.reservationCapacity}}</td>
        <td>{{ flightSchedule.scheduleDay}}</td>
        <td>{{ route.source}}</td>
        <td>{{ route.destination}}</td>
        <td>{{ route.distance}}</td>
        <td>{{ route.duration}}</td>




    </tr>
    </tbody>
  </table>
</div>
