/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

h1 {
  color: #369;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
h2,
h3 {
  color: #444;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;
}
a {
  cursor: pointer;
  cursor: hand;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}