<html>
  <h1 align="center">Create An Account</h1>
  <form>
  <div align="center">
        Full Name: 
        <input type="text" name="name"> <br> <br>
        Date of Birth:
        <input type="date" name="date_of_birth" min="1900-01-01"><br><br>
        Gender: 
        <select name="gender">
          <option disabled selected value> Gender </option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select> <br><br>
        Address:
        <input type="text" name="address"> <br><br>
        Phone Number:
        <input type="text" name="mobile_number"> <br><br>
        Email:
        <input type="text" name="emailid"> <br> <br>
      <br> <br>
  </div>
  <div align="center">
      <h1 align="center">Create Your Username and Password</h1>
      Username:
      <input type="text" name="username"> <br> <br>
      Password:
      <input type="text" name="password"> <br> <br>

      <input type="submit">
  </div>
  </form>
</html>
